.input {
  margin: 1rem 0;
  width: 100%;
}

.input label {
  display: block;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}

.input input,
.input textarea {
  display: block;
  font: inherit;
  padding: 0.25rem 0.5rem;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.input .touched.invalid {
    border-color: var(--error);
    background: rgba(244, 67, 54, 0.1);
    box-shadow: 0 0 0 2px rgba(244, 67, 54, 0.2);
}

.input input:focus,
.input textarea:focus {
  outline: none;
  border-color: var(--primary-main);
  color: var(--primary-main);
  box-shadow: 0 0 0 2px rgba(255, 165, 0, 0.2);
  transition: all 0.3s ease;
}
