.main-nav {
  height: 100%;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  position: relative;
}

.main-nav__logo {
  z-index: 10;
  position: relative;
}

.main-nav__logo a {
  text-decoration: none;
  display: block;
}

.spacer {
  flex: 1;
}

.main-nav__items {
  list-style: none;
  padding: 0;
  margin: 0 2rem;
  display: none;
  gap: 1rem;
}

@media (min-width: 768px) {
  .main-nav__items {
    display: flex;
    align-items: center;
  }
  
  .main-nav {
    padding: 0 3rem;
  }
}

@media (max-width: 767px) {
  .main-nav {
    padding: 0 1rem;
  }
  
  .main-nav__items {
    margin: 0 1rem;
  }
}
